/*
Colors
Light purple: #D0BADD
Dark purple: #0A0014
Cream: #E2DEB9
Black: #000000
White: #ffffff

Fonts
Headings: Aref Ruqaa Ink
Body: Afacad
*/

body{
    font-family: afacad;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #fff;
}

body .button_lightpurple{
    margin-top: 25px;
}

.button_lightpurple{
    font-family: aref ruqaa ink;
    font-size: 1.5rem;
    font-weight:700;
    color: #0A0014;
    background-color: #D0BADD;
    padding: 20px 15px 20px 15px;
    border-radius: 20px;
}

.button_lightpurple_submit{
    font-family: aref ruqaa ink;
    font-size: 1.5rem;
    font-weight:700;
    color: #0A0014;
    background-color: #D0BADD;
    padding: 20px 15px 20px 15px;
    border-radius: 20px;
    width: 430px;
    margin-top:25px;
}

.clouds{
    margin-top:-400px;
}


.modal-p-text {
  margin-bottom: 51px;
  width: 462px;
  margin-left:auto;
  margin-right:auto;
}

h1{
    font-family: aref ruqaa ink;
    font-size: 5.5rem;
    font-weight:700;
    line-height: 6.2rem;
    color: #fff;
}

.hero_container{
    background-color: #0A0014;
    width: 1440px;
    height: 650px;
    display:flex;
    margin-top:-15px;
}

.left_half{
    width: 427;
    margin-left: 133px;
}

.right_half{
    width: 1027px;
}

.side-nav{
    display:flex;
}

.side-nav li{
    margin-right: 55px;
    align-content: center;
}

nav{
    background-color: #000000;
    color:#ffffff;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

nav ul{
    display:flex;
    justify-content: space-between;
}

ul{
    list-style: none;
}

ul img{
    padding-top: 15px;
    padding-bottom: 15px;
}

html {
  font-size: 10px;
}


/*css animations*/
.clouds_moving{
    animation-name: drift;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes drift {
    0% {transform: translateX(0);}
    25% {transform: translateX(200px);} 
    50% {transform: translateX(0);}
    75% {transform: translateX(-200px)}
    }

.moon_animation{
    transform: rotate(360deg);
    transition: transform 35s ease-in-out;
    animation-iteration-count: infinite;
}

/*Modal Design*/
*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background-color: #0A0014;
  width: 625px;
  max-width: 80%;
  height: 815px;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align:center;
}

.modal-header .title {
    font-family: aref ruqaa ink;
    font-size: 5.5rem;
    font-weight:700;
    line-height: 6.2rem;
    color: #fff;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  text-align:center;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}